openapi: 3.1.0
info:
  title: Accounts API
  description: |
    API for managing banking accounts in the system.
    This API handles account creation, retrieval, updates, and management.
  version: "1.0.0"
  contact:
    name: API Support
    email: support@bankingsystem.com

servers:
  - url: https://api.bankingsystem.com/v1
    description: Production server
  - url: https://staging-api.bankingsystem.com/v1
    description: Staging server

paths:
  /accounts:
    get:
      summary: List all accounts for a user
      description: Retrieves all accounts owned by the authenticated user.
      tags:
        - Accounts
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter accounts by status
          required: false
          schema:
            type: string
            enum: [Active, Frozen, Closed]
        - name: type
          in: query
          description: Filter accounts by type
          required: false
          schema:
            type: string
            enum: [Checking, Savings, Investment]
      responses:
        "200":
          description: List of accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

    post:
      summary: Create a new account
      description: Creates a new account for the authenticated user.
      tags:
        - Accounts
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountCreation"
      responses:
        "201":
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /accounts/{accountId}:
    get:
      summary: Get account details
      description: Retrieves details of a specific account.
      tags:
        - Accounts
      security:
        - BearerAuth: []
      parameters:
        - name: accountId
          in: path
          required: true
          description: Unique identifier of the account
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Account details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: User does not have access to this account
        "404":
          description: Account not found
        "500":
          $ref: "#/components/responses/ServerError"

    patch:
      summary: Update account details
      description: Updates specific details of an account.
      tags:
        - Accounts
      security:
        - BearerAuth: []
      parameters:
        - name: accountId
          in: path
          required: true
          description: Unique identifier of the account
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountUpdate"
      responses:
        "200":
          description: Account updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: User does not have permission to update this account
        "404":
          description: Account not found
        "500":
          $ref: "#/components/responses/ServerError"

  /accounts/{accountId}/status:
    post:
      summary: Update account status
      description: Changes the status of an account (active, frozen, closed).
      tags:
        - Accounts
      security:
        - BearerAuth: []
      parameters:
        - name: accountId
          in: path
          required: true
          description: Unique identifier of the account
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [Active, Frozen, Closed]
                reason:
                  type: string
                  description: Reason for status change
      responses:
        "200":
          description: Account status updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: User does not have permission to change account status
        "404":
          description: Account not found
        "500":
          $ref: "#/components/responses/ServerError"

  /accounts/{accountId}/balance:
    get:
      summary: Get account balance
      description: Retrieves the current balance of an account.
      tags:
        - Accounts
      security:
        - BearerAuth: []
      parameters:
        - name: accountId
          in: path
          required: true
          description: Unique identifier of the account
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Account balance retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountId:
                    type: string
                    format: uuid
                  balance:
                    type: number
                    format: float
                  currency:
                    type: string
                  lastUpdated:
                    type: string
                    format: date-time
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: User does not have permission to view this account's balance
        "404":
          description: Account not found
        "500":
          $ref: "#/components/responses/ServerError"

components:
  schemas:
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        accountNumber:
          type: string
          description: Unique account number in the banking system
        type:
          type: string
          enum: [Checking, Savings, Investment]
        balance:
          type: number
          format: float
        currency:
          type: string
          example: "USD"
        status:
          type: string
          enum: [Active, Frozen, Closed]
        openedDate:
          type: string
          format: date
        lastActivityDate:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AccountCreation:
      type: object
      required:
        - type
        - currency
      properties:
        type:
          type: string
          enum: [Checking, Savings, Investment]
        currency:
          type: string
          description: Three-letter ISO currency code
          example: "USD"
        initialDeposit:
          type: number
          format: float
          minimum: 0
        nickname:
          type: string
          description: User-defined name for the account

    AccountUpdate:
      type: object
      properties:
        nickname:
          type: string
          description: User-defined name for the account

    Pagination:
      type: object
      properties:
        totalItems:
          type: integer
        totalPages:
          type: integer
        currentPage:
          type: integer
        itemsPerPage:
          type: integer
        nextPage:
          type: ["string", "null"]
          format: uri
        prevPage:
          type: ["string", "null"]
          format: uri

  responses:
    BadRequest:
      description: Bad request due to invalid input
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    field:
                      type: string
                    message:
                      type: string

    Unauthorized:
      description: Authentication required or token invalid/expired
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
              message:
                type: string

    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
              message:
                type: string

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from the /auth/login endpoint

security:
  - BearerAuth: []

tags:
  - name: Accounts
    description: Banking account management operations
